[Unit]
Description=Smoker Controller Logging and Servo service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/home/pi/Smoker-Controller/control.py


[Install]
WantedBy=multi-user.target
