[Unit]
Description=Smoker Controller service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/home/pi/Smoker-Controller/start_thermserv.sh

[Install]
WantedBy=multi-user.target
